@font-face{
    font-family: 'publicSans';
    src: url("./fonts/static/PublicSans-Light.ttf");
    font-size: 18px;
    font-weight: 300;
}
body{
    margin: 0%;
    box-sizing: border-box;
    width: 36cm;
    font-family: 'publicSans';
    font-size: 1rem;
}
h1{
    font-size: 3rem;
    font-weight: 400;    
}
p{
    /*color: hsl(233, 26%, 24%);*/
    color: hsl(233, 8%, 62%);
    font-weight: 400;
}
button{
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background-color: hsl(136, 65%, 51%);
    border-radius: 20px;
    height: 1cm;
    width: 4cm;
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;  
    cursor: pointer;       
}
section{   
    height: 16cm;
}
/*SECTION  FIRST*/

.section-first{
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 98%);    
}
.section-first-div{
    max-width: 50%;   
    height: 100%;
    display: flex;     
    align-items: center;
}
.section-first-div-content{
    width: 60%;
    font-family: 'publicSans';  
    margin: 4cm;    
}

#section-first-div-img{
    background-image: url("images/bg-intro-desktop.svg");    
    background-size: 160%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;     
    background-position-x: -1.5cm; 
    background-position-y: -5cm;     
}
.section-first-img{
    position: relative;
    top: 1cm;
    left: 3cm;
    max-height: 24cm;    
}
/*      SECTION SECOND*/
.section-second{
    display: flex;
    flex-direction: column;
    background-color: hsl(220, 16%, 96%);
}
.section-second-content1{
    display: flex;
    flex-direction: column;
    margin: 3cm 0 0 4cm;
}
.section-second-content2{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 4cm;
    justify-content: space-between;
    padding-right: 10%;
    padding-top: 4%;
}
.section-second-content{
    display: flex;
    flex-direction: column;
    width: 24%;    
}
/*      SECTION THIRD   */
#section-third{
    background-color: hsl(0, 0%, 98%);
}
.third{
    background-color: hsl(0, 0%, 100%);
}
.section-third-content1{
    display: flex;
    flex-direction: column;
    margin: 1cm 0 0 4cm;
}

.section-third-img{   
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    width: 100%;
    height: 175px;
}
.section-third-content2{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 4cm;
    justify-content: space-between;
    padding-right: 10%;
    padding-top: 1%;
}
.section-third{
    padding: 5%;
    font-size: 0.9rem;
    cursor: pointer;
}
.section-third:hover{
    color: hsl(192, 70%, 51%);
}
/*****NAVIGATION*******/
nav{
    height: 77px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    z-index: 2;    
}
a{
    display: block;
    float: left;
    padding: 29px 11px;
    width: 15%;    
    background-color: hsl(0, 0%, 100%);
    color: hsl(233, 8%, 62%);
    cursor: pointer;
}
/************Gradient bottom border********/
.nav-center{    
    background-image: repeating-linear-gradient(90deg, hsl(136, 65%, 51%) 40%, hsl(192, 70%, 51%) 60%);   
    width: 33%;
}
a:hover{
    padding: 27px 11px;
}

/**********FOOTER******/
footer{       
    background-color: hsl(233, 26%, 24%);    
}
.footer-flex-row, .nav-flex-row{
    display: flex;
    flex-direction: row;
} 
.left, .right, .center{
    width: 33%; 
    padding: 25px 0px;    
}
.left{
    text-align: center;
}
.left svg{    
    padding:20px 5px;   
}
.footer-left-images svg{
    cursor: pointer;    
}
svg path:hover{
    fill: hsl(192, 70%, 51%);
}
.footer-center-content{    
    width: 33%;
}
.footer-center-content p{
    color: hsl(220, 16%, 96%);
    font-size: 0.9rem;
    cursor: pointer;
}
.footer-center-content p:hover{
    color: hsl(192, 70%, 51%);
}
.right{  
    text-align: center;
}
.right p{
    text-align:left;
    padding-left:60px;
}